@import '_colors.scss';
.item{
    border:thin solid;
    position: relative;
    display: flex;
    cursor: pointer;
    & p{
        max-width: 200px;
        width: 100%;
        padding:2%;
        position: absolute;
        bottom: 0;
        background-color: $mainColor;
        color:$secondColor;
    }
    & img{
        width: 200px;
        height: 250px;
    }
}