@import '_colors.scss';
content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & > div{
        margin:2%;
    }
}
controls{
    display: flex;
    justify-content: center;
    & first,prev,next,last{
        padding: 2%;
        background-color: $mainColor;
        color:$secondColor;
        border:thin solid;
        cursor: pointer;
    }
}