@import '_colors.scss';
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

html,body{
    width: 100%;
    height: 100%;
}
$headerfooterHeight:10vh;
header,footer{
    height: $headerfooterHeight;
    background-color: $mainColor;
    color:$fontColor;
}